.navbar-background {
    background-image: linear-gradient(#d01d3b, #d3617a);
    color: blue;
}

.nav-text {
    color: white;
}

.nav-text:hover {
    color: yellow;
    font-weight: 700;
    transition: 0.5s;
    border-bottom: 4px solid seagreen;
}