.games-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.last-container {
    border: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
}

.last-container>h5 {
    background-image: linear-gradient(#fafafa, #f8f7f9, #f6f7f6, #f5f4f4, #f3f4f3, #f1f2f1, #eeefef);
    padding: 14px 0px 14px 20px;
    font-weight: 700;
    color: #7d0808
}